<div class="info_block">
  <div>
    <label>{{ 'Informative Text:'|t }}</label>
    <div class="text_block">{{ text_field }}</div>
  </div>

  <div>
    <label>{{ 'Integer number: '|t }}</label><span>{{ integer_field }}</span>
  </div>
</div>
